* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .chartMenu {
    width: 100vw;
    height: 40px;
    background: #1a1a1a;
    color: white;
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(97, 135, 171, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(3, 4, 94, 1);
    background: white;
  }